body {
  margin: 0;
  padding: 20px;
  font-family: sans-serif;
}

.App-header {
}

.-container {
  @include outer-container;
}

.-col-6 {
    @include span-columns(6)
}

.Book {
  .line {
    margin-bottom: 0.5em;
  }

  .line-no {
    display: inline-block;
    width: 1em;
    margin-right: 1em;
    user-select: none;
  }

  .word {
    display: inline-block;
    cursor: pointer;

    &:hover {
      font-weight: bold;
    }
  }
}

.DataForm {
    width: 100%;
    height: 100%;
    
    .overlay {
        width: 100%;
        height: 100%;
    }

    .body {
        position: fixed;
        top: 50%;
        left: 50%;
        outline: none;
        border: 4px solid #000;
        width: 50vw;
        height: 50vh;
        background-color: #fff;
        opacity: 1;
        transform: translateX(-50%) translateY(-50%);
    }

    .selected-text-wrapper {
        margin-top: 1em;
        text-align: center;
    }

    .selected-text {
        display: inline-block;
        text-align: left;
    }
}

.form {
    height: auto;
    margin: 2em 0;
    text-align: center;

    > .text-inputs {
        margin: 2em 0;

        span {
            margin-left: 1em;
        }
    }

    .text-input {
        margin-left: 1em;

        &:first-child {
            margin-left: 0;
        }
    }

    input[type=submit], button {
        margin: 0 1em;
    }

    .interaction-types {
        text-align: text-center;
    }
}
